# laoues标准配置文件格式 更新日期 2026-01-23
[log]
write=true
#是否写入日志
level="info"
#日志等级 有none info warn error四个等级
path="a good path"
#写入路径
time=true
#在日志最前面写入当前时间 如无特殊设置 默认使用操作系统时间 并自动加入时区代码 （如CST：中国标准时间）
#如果time设置为 true 则用时区代码 
#如果是"utc" 则直接写入UTC偏移量
#如果是false 关闭日志写入时间
[dns]
mode="realip"
#这里有三种DNS模式 realip fakeip和hijack-route
default="local-dns"
#默认出站DNS 未匹配到任何规则时使用
strategy="follow_system"
#默认域名解析策略 可选：prefer_ipv4 prefer_ipv6 ipv4_only ipv6_only follow_system
cache=true
#DNS缓存设置 设置为true时按DNS返回TTL指定 未返回时统一为10分钟 还可以设置为时间 单位：秒
expire=true
#缓存是否过期
independent_cache=true
#缓存是否独立
always=true
#总是把域名解析为IP然后处理
sniffing=true
#起用它时 任何目标IP字段将被忽略 laoues会用深度包检测把目标字段还原为域名 由远程DNS再次进行解析处理 和fakeip冲突
[dns.local-dns]
#本地DNS在这里
type="https" 
#DNS类型 支持UDP、TCP、DOT、DOH
address="alidns.com"
#DNS地址
path="/dns-query" 
#DOT/DOH的查询路径
dns="223.5.5.5"
#解析DOT/DOH的IP 默认走UDP 53端口
strategy="follow_echo" 
#默认DOT/DOH域名解析策略 可选：prefer_ipv4 prefer_ipv6 ipv4_only ipv6_only follow_echo
[dns.remote-dns]
#远程DNS在这里
type="https" 
#DNS类型 支持UDP、TCP、DOT、DOH
address="cloudflare-dns.com"
#DNS地址
path="dns-query"
#DOT/DOH的查询路径
dns="1.0.0.1"
#解析DOT/DOH的IP 默认走UDP 53端口
strategy="follow_echo"
#默认DOT/DOH域名解析策略 可选：prefer_ipv4 prefer_ipv6 ipv4_only ipv6_only follow_echo
[inbounds.ss-in-01]
type="socks5"
listen="::"
port="1080" 
method="2022-blake3-aes-256-gcm"
username="Joney" 
password="a strong password"
[outbounds.ss-out-01]
type="shadowsocks"
address="a long address" 
port="443" 
method="2022-blake3-aes-256-gcm"
password="a strong password"
#出入站请参阅867678.xyz/projects/laoues
[rule.cn-ip]
type="remote"
url="https://github.com/MetaCubeX/meta-rules-dat/raw/refs/heads/sing/geo-lite/geoip/cn.srs"
outbounds="ss-out-01"
hit="direct"
#设置为direct时laoues不会接管 以提升性能 所以DNS就没用了
path="a good address"
[rule.final]
hit="::"
outbounds="ss-out-01"
dns="remote-dns"
#规则集请参阅867678.xyz/projects/laoues 上方为绕过大陆模式